body {

}

.bg-primary {
    color: #0081c5;
}



.navbar-logo {
    width: 5em;
}

.align-bottom {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: unset;
    font-weight: 600;
}

p, div {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.row {
    margin-right: 0;
    margin-left: 0;
    /*padding-left: 10px;
    padding-right: 10px;*/
}
